
body{
    

}

img {
   
}

.custom-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
  }

.form-check-input {
    display: flex;
    align-items: center;
}

.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}

